.cover__link {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cover__link::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #2A2C2F;
  opacity: 0.3;
  transition: opacity 0.3s ease 0s;
  z-index: 1;
}

.cover__link:hover::before {
  opacity: 0.8;
}
