.lead__caption {
  align-self: flex-start;
  margin: 8px 0 0 0;
  text-align: left;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

/* стили от 768 и до 1024 пикселей — от вертикального до горизонтального положения планшета */
@media screen and (max-width: 1023px) {
  .lead__caption {
    padding-left: 24px;
  }
}

/* стили до 768 пикселей — от большого смартфона до вертикального положения планшета */
@media screen and (max-width: 767px) {
  .lead__caption {
    padding-left: 16px;
  }
}
