.cover__title {
  width: 560px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  position: relative;
  z-index: 2;
}

/* стили до 768 пикселей — от большого смартфона до вертикального положения планшета */
@media screen and (max-width: 767px) {
  .cover__title {
    width: 255px;
    font-size: 32px;
    line-height: 1.09;
  }
}
