.place__url-heading {
  margin: 0;
  padding-bottom: 12px;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 2px;
  color: #aaa;
}

/* стили от 768 и до 1024 пикселей — от вертикального до горизонтального положения планшета */
@media screen and (max-width: 1023px) {
  .place__url-heading {
    line-height: 1;
  }
}
