.header__lang-links {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 0;
  padding: 0 0 6px;
  list-style: none;
  font-size: 24px;
  line-height: 1.17;
  text-align: right;
}

/* стили от 425 и до 768 пикселей — от большого смартфона до вертикального положения планшета */
@media screen and (max-width: 767px) {
  .header__lang-links {
    padding-bottom: 0 0 8px;
    font-size: 18px;
    line-height: 1.11;
  }
}
